{% extends 'base.html' %}
{% block content %}

<h1>Shoes List</h1>
{% for shoe in shoe_list %}
<a href="{% url 'shoes_detail' shoe.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ shoe.name }}</span>
            <p>Color: {{ shoe.color }}</p>
            <p>Brand: {{ shoe.brand }}</p>
            <p>Size: {{ shoe.shoe_size }}</p>
            <p>Description: {{ shoe.description }}</p>
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}