{% extends 'base.html' %} {% block content %}

<h1>SWAPIFY</h1>
<h4>Why buy when you can swap !</h4>
<p id = 'mission'>Our Mission</p>
<ul>
  <li>Eco Friendly</li>
    <p>Fast fashion forces companies to compete by increasing production while reducing quality and environmental concerns. Textile pollution contributes to 10% of carbon emissions, and pollutes waterways by shedding microplastics. 85% of all textiles go to the landfill every year. 
      </p>
  <li>Budget Friendly</li>
  <p>According to the facts, the average person spends around $161 per month on clothes – women spend nearly 76% more than men do on clothing in a year. The average family of four spends around $1800 per year on clothes, with $388 of this on shoes. Swapping can save you money.</p>
  <li>Human Friendly</li>
  <p>Trendy clothes are quickly manufactured in countries where workers are not paid a fair wage and work in terrible conditions. It is then sold to consumers, who wear the garment until it is out of style or of use and they will discard it. We want to intercept the life cycle of a piece of clothing or shoe and give it a new owner. </p>
</ul>
{% endblock %}
