{% extends 'base.html' %} {% block content %} {% load static %}
<body id="bg" style="background-image: url('{% static "images/secondhand.jpeg"%}')";>
<div class = 'text'>
<h1>SWAPIFY</h1>
<h3>Why buy when you can swap !</h3>
<h5>A luxury consignment store, Swapify brings authenticated high fashion goods to you on a user-friendly online store. What makes it stand out is that it features a note from the previous owner with each product, so you can get a sense of who owned the product and what to expect of it.</h5>
</div>
</body>


{% endblock %}
