body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.text {
  margin-top:200px;
  padding-bottom: 15px;
  background-color:rgb(255,182,193,0.8);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
h1 {
  color:black;
}

li {
  font-weight: bold;
}