body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.text {
  margin-top:200px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color:black;
  
}