{% extends 'base.html' %}
{% block content %}
<h1>Clothing Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Seller: {{ cloth.user }}</span>
                <p>Category: {{ cloth.category }}</p>
                <p>Brand: {{ cloth.brand }}</p>
                <p>Size: {{ cloth.size}}</p>
                <p>Description: {{ cloth.description }}</p>
            </div>
            <div class="card-action">
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Swap Me</button>
                </form>
            </div>
            {% if request.user == cloth.user %}
            <div class="card-action">
                <a href="{% url 'clothings_update' cloth.id %}">Edit</a>
                <a href="{% url 'clothings_delete' cloth.id %}">Delete<a>
            </div>
            {% endif %}
            {% if cloth.url %}
            <img class="responsive-img card-panel"src="{{cloth.url}}" width=250px/>
            {% else %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endif %}
            {% if request.user == cloth.user %}
            <form action="{% url 'add_clothing_photo' cloth.id %}" enctype="multipart/form-data" method="POST"
                class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file" />
                <br /><br />
                <input type="submit" class="btn" value="Upload Photo" />
            </form>
            {% endif %}
        </div>
    </div>
<div class="col s6">
    <div>
        <h3>Recommended Shoes</h3>
        <div class="card-action">
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Swap Me</button>
            </form>
        </div>
        {% if cloth.shoes.count %}
        {% for shoe in cloth.shoes.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    A <span style="color: {{ shoe.color }}">{{ shoe.color }}</span> {{ shoe.name }}
                </span>
                {% if request.user == cloth.user %}
                <div class="card-action">
                    <form action="{% url 'unassoc_shoe' cloth.id shoe.id %}" method="post">
                        {% csrf_token %}
                      <button type="submit" class="btn">Remove</button>
                    </form>
                  </div>
                  {% endif %}
            </div>
            {% if shoe.url %}
            <div class="card-action">
                <img class=“responsive-img card-panel” src="{{shoe.url}}" width=250px  />
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <h5>No shoes :(</h5>
        {% endif %}
    </div>
    <div>
        {%if cloth.user == request.user %}
        <h3>Available Shoes</h3>
        {% if usershoes and usershoes.count %}
        {% for shoe in usershoes.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    <span style="color: {{ shoe.color }}">{{ shoe.color }}</span>
                    {{shoe.name}}
                </span>
            </div>
            {% if request.user == shoe.user %}
            <div class="card-action">
                <form action="{% url 'assoc_shoe' cloth.id shoe.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <h5>{{cloth.name}} Already Has All Shoes Available</h5>
        {% endif %}
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
